from importlib.metadata import PackageNotFoundError, version

try:
    __version__ = version("{{ plugin_name }}")
except PackageNotFoundError:  # pragma: no cover
    __version__ = "unknown"


from .{{ module_import }} import {{ class_baseline }}
from .config import {{ config_info }}
{% if add_widget -%}
from .widget import {{ widget_class_baseline }}
{%- endif %}

__all__ = (
    "{{ class_baseline }}",
    "{{ config_info }}",
)
