__version__ = "0.1.0"


from .{{ plugin_engine.lower() }}.{{ module_import }} import {{ class_baseline }}
from .{{ plugin_engine.lower() }}.config import {{ config_import }}

__all__ = (
    "{{ class_import }}",
    "{{ config_import }}",
)
