__version__ = "0.1.0"


from .engine.{{ plugin_engine.lower() }}.{{ module_import }} import {{ class_baseline }}
from .engine.{{ plugin_engine.lower() }}.config import {{ config_info }}

__all__ = (
    "{{ class_baseline }}",
    "{{ config_info }}",
)
