from __future__ import annotations

from typing import TYPE_CHECKING

from sunflare.controller.base import (
    {{ plugin_base }}
)

from .config import {{ config_info }}


if TYPE_CHECKING:
    
    from sunflare.engine.handler import EngineHandler
    from sunflare.virtualbus import VirtualBus

class {{ class_baseline }}({{ plugin_base }}):
    def __init__(self, 
                ctrl_info: {{ config_info }}, 
                handler: EngineHandler, 
                virtual_bus: VirtualBus, 
                module_bus: VirtualBus
            ) -> None:
        super().__init__(ctrl_info, handler, virtual_bus, module_bus)