from __future__ import annotations

from typing import TYPE_CHECKING

from sunflare.controller.{{plugin_engine}} import (
    {{ plugin_base }}
)

if TYPE_CHECKING:
    from .config import {{ config_info }}
    
    from sunflare.engine.{{ plugin_engine }}.registry import {{ registry }}
    from sunflare.virtual import VirtualBus

class {{ class_baseline }}({{ plugin_base }}):
    def __init__(self, 
                ctrl_info: {{ config_info }}, 
                registry: {{ registry }}, 
                virtual_bus: VirtualBus, 
                module_bus: VirtualBus
            ) -> None:
        super().__init__(ctrl_info, registry, virtual_bus, module_bus)