[build-system]
requires ["hatchling>=1.8.0"]
build-backend = "hatchling.build"

[project]
name = "{{plugin_name}}"
version = "0.1.0"
description = "{{short_description}}"
readme = "README.md"
license = {file = "LICENSE"}
authors = [
  { name = "{{full_name}}", email = "{{email}}" },
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    {% if license == "MIT" -%}
    "License :: OSI Approved :: MIT License",
    {%- elif license == "BSD-3" -%}
    "License :: OSI Approved :: BSD License",
    {%- elif license == "GNU GPL v3.0" -%}
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    {%- elif license == "GNU LGPL v3.0" -%}
    "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
    {%- elif license == "Apache Software License 2.0" -%}
    "License :: OSI Approved :: Apache Software License",
    {%- elif license == "Mozilla Public License 2.0" -%}
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
    {%- endif %}
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering"
]
requires-python = ">=3.9"
dependencies = [
    "numpy",
]

[project.optional-dependencies]
dev = [
    "nox",
    "pytest",  # https://docs.pytest.org/en/latest/contents.html
    "pytest-cov",  # https://pytest-cov.readthedocs.io/en/latest/
]

{% if github_repository_url != 'provide later' -%}
[project.urls]
"Bug Tracker" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}/issues"
"Documentation" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}#README.md"
"Source Code" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}"
"User Support" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}/issues"
{%- endif %}


[project.entry-points]
[project.entry-points."redsun.plugins.config"]
config = "redsun.plugins.{{module_name}}:{{config_info}}"

[project.entry-points."redsun.plugins.model"]
model = "redsun.plugins.{{module_name}}:MyModel"

[project.entry-points."redsun.plugins.controller"]
controller = "redsun.plugins.{{module_name}}:MyController"

[tool.ruff]
target-version = "py39"
extend-exclude = ["docs", "tests", "noxfile.py"]
