[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "{{plugin_name}}"
dynamic = ["version"]
description = "{{short_description}}"
readme = "README.md"
license = {file = "LICENSE"}
authors = [
  { name = "{{full_name}}", email = "{{email}}" },
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    {% if license == "MIT" -%}
    "License :: OSI Approved :: MIT License",
    {%- elif license == "BSD-3" -%}
    "License :: OSI Approved :: BSD License",
    {%- elif license == "GNU GPL v3.0" -%}
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    {%- elif license == "GNU LGPL v3.0" -%}
    "License :: OSI Approved :: GNU Lesser General Public License v3 (LGPLv3)",
    {%- elif license == "Apache Software License 2.0" -%}
    "License :: OSI Approved :: Apache Software License",
    {%- elif license == "Mozilla Public License 2.0" -%}
    "License :: OSI Approved :: Mozilla Public License 2.0 (MPL 2.0)",
    {%- endif %}
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering"
]
requires-python = ">=3.9"
dependencies = [
    "sunflare",
]

[project.optional-dependencies]
dev = [
    "pytest",  # https://docs.pytest.org/en/latest/contents.html
    "pytest-cov",  # https://pytest-cov.readthedocs.io/en/latest/
]

{% if github_repository_url != 'provide later' -%}
[project.urls]
"Bug Tracker" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}/issues"
"Documentation" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}#README.md"
"Source Code" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}"
"User Support" = "https://github.com/{{github_username_or_organization}}/{{plugin_name}}/issues"
{%- endif %}

[project.entry-points]
[project.entry-points."redsun.plugins.{{entry_point_group}}"]
{{entry_point_cfg_value}} = "{{module_name}}:{{config_info}}"
{{entry_point_value}} = "{{module_name}}:{{class_baseline}}"
{% if add_widget -%}
[project.entry-points."redsun.plugins.widgets"]
{{widget_entry_point_value}} = "{{module_name}}:{{widget_class_baseline}}"
{%- endif %}

[tool.coverage.run]
source = ["{{ module_name }}"]
omit = [
    "src/{{ module_name }}/tests/conftest.py"
]

[tool.coverage.report]
exclude_lines = [
    "@abstractmethod",
    "if TYPE_CHECKING:",
    "@overload",
    "except ImportError",
    "except PackageNotFoundError",
    "raise NotImplementedError()",
]

[tool.mypy]
files = "src/**/*.py"
exclude = ["docs", "tests", "build"]
disable_error_code = ["import-untyped"]
pretty = true

[tool.ruff]
target-version = "py39"
extend-exclude = ["docs", "tests"]

[tool.ruff.lint]
extend-select = ["D"]
ignore = [
    "D100", # https://docs.astral.sh/ruff/rules/undocumented-public-module/
    "D104", # https://docs.astral.sh/ruff/rules/undocumented-public-package/ 
    "D107", # https://docs.astral.sh/ruff/rules/undocumented-public-init/
]

[tool.hatch.version]
source = "vcs"

[tool.hatch.build.targets.sdist]
include = ["src", "tests"]

[tool.hatch.build.targets.wheel]
only-include = ["src"]
sources = ["src"]