# {{plugin_name}}

[![License {{license}}](https://img.shields.io/pypi/l/{{plugin_name}}.svg?color=green)](https://github.com/{{github_username_or_organization}}/{{plugin_name}}/raw/main/LICENSE)
[![PyPI](https://img.shields.io/pypi/v/{{plugin_name}}.svg?color=green)](https://pypi.org/project/{{plugin_name}})
[![Python Version](https://img.shields.io/pypi/pyversions/{{plugin_name}}.svg?color=green)](https://python.org)
[![tests](https://github.com/{{github_username_or_organization}}/{{plugin_name}}/workflows/tests/badge.svg)](https://github.com/{{github_username_or_organization}}/{{plugin_name}}/actions)
[![codecov](https://codecov.io/gh/{{github_username_or_organization}}/{{plugin_name}}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{github_username_or_organization}}/{{plugin_name}})

{{short_description}}

----------------------------------

This [Redsun] plugin was generated with [copier] using the [redsun-plugin-template].

## Installation

You can install `{{plugin_name}}` via [pip]:

    pip install {{plugin_name}}


{% if github_repository_url != 'provide later' %}
To install latest development version :

    pip install git+https://github.com/{{github_username_or_organization}}/{{plugin_name}}.git
{% endif %}

## Contributing

Contributions are very welcome. Tests can be run with [nox], please ensure
the coverage at least stays the same before you submit a pull request.

## License

Distributed under the terms of the [{{license}}] license,
"{{plugin_name}}" is free and open source software

## Issues

If you encounter any problems, please [file an issue] along with a detailed description.

[copier]: https://copier.readthedocs.io/en/stable/
[MIT]: http://opensource.org/licenses/MIT
[BSD-3]: http://opensource.org/licenses/BSD-3-Clause
[GNU GPL v3.0]: http://www.gnu.org/licenses/gpl-3.0.txt
[GNU LGPL v3.0]: http://www.gnu.org/licenses/lgpl-3.0.txt
[Apache Software License 2.0]: http://www.apache.org/licenses/LICENSE-2.0
[Mozilla Public License 2.0]: https://www.mozilla.org/media/MPL/2.0/index.txt
[redsun-plugin-template]: https://github.com/redsun-acquisition/redsun-plugin-template
{% if github_repository_url != 'provide later' %}
[file an issue]: https://github.com/{{github_username_or_organization}}/{{plugin_name}}/issues
{% endif %}
[Redsun]: https://github.com/redsun-acquisition/redsun
[nox]: https://nox.thea.codes/en/stable/
[pip]: https://pypi.org/project/pip/
[PyPI]: https://pypi.org/
